# `megamerge`

The aim is to create a merge index / overlap list as fast as possible.

This may involve `numpy`/`scipy`, or we may delve into Rust.

The aim is to complete the part of the merge task that takes exponential time, such that python can perform the aggregations which take linear time.

It looks like the longest road segment is on H006 its 1050km long (or 3200km if you ignore POES). ANy road segment longer than this is probably not practically useful.

In [1]:
import pandas as pd
import numpy as np

In [24]:
segments = pd.DataFrame(
    columns=["road", "cwy", "slk_from", "slk_to"],
    data=[
        ["H001", "L",   0, 100],
        ["H001", "L", 100, 200],
        ["H001", "L", 200, 300],
        ["H001", "L", 300, 400],

        ["H001", "R",   0, 100],
    ]
)

data = pd.DataFrame(
    columns=["road", "cwy", "slk_from", "slk_to", "measure", "category"],
    data=[                             # overlaps lengths
        ["H001", "L", 50,  140,  1.0, "A"],  # 50  40   0  0    [50, 40,  0,  0]
        ["H001", "L", 140, 160,  2.0, "B"],  #  0  20   0  0    [ 0, 20,  0,  0]
        ["H001", "L", 160, 180,  3.0, "B"],  #  0  20   0  0    [ 0, 20,  0,  0]
        ["H001", "L", 180, 220,  4.0, "B"],  #  0  20  20  0    [ 0, 20, 20,  0]
        ["H001", "L", 220, 240,  5.0, "C"],  #  0   0  20  0    [ 0,  0, 20,  0]
        ["H001", "L", 240, 260,  5.0, "C"],  #  0   0  20  0    [ 0,  0, 20,  0]
        ["H001", "L", 260, 280,  6.0, "D"],  #  0   0  20  0    [ 0,  0, 20,  0]
        ["H001", "L", 280, 300,  7.0, "E"],  #  0   0  20  0    [ 0,  0, 20,  0]
        ["H001", "L", 300, 320,  8.0, "F"],  #  0   0     20    [ 0,  0,  0, 20]

        ["H001", "R",  10,  80,  9.0, "G"],  #  0   0     20
        ["H001", "R",  80, 120, 10.0, "H"],  #  0   0     20
    ]
)

















expected_result = pd.DataFrame(
    columns=["road", "cwy", "slk_from", "slk_to",  "measure longest value",  "category longest value"],
    data=[
        ["H001", "L",   0, 100,  1.0,  "A"],
        ["H001", "L", 100, 200,  1.0,  "B"],
        ["H001", "L", 200, 300,  5.0,  "C"],
        ["H001", "L", 300, 400,  8.0,  "F"],

        ["H001", "R",   0, 100,  9.0,  "G"],
    ]
)

## Old Merge Method

Using `dtimsprep` library which accuratly reproduces the results from the old merge macro.

In [25]:
import dtimsprep.merge as merge
result = merge.on_slk_intervals(
    segments,
    data,
    ["road", "cwy"],
    [
        merge.Action('measure',  rename="measure longest value",  aggregation=merge.Aggregation.KeepLongest()),
        merge.Action('category', rename="category longest value", aggregation=merge.Aggregation.KeepLongest()),
    ]
)
pd.testing.assert_frame_equal(result, expected_result)

## MegaMerge

Now lets try do this FASTER

In [6]:
from typing import Union

# preprocess the index on target segmentation to reduce the number of columns we need to work with
def get_categorical_index(segmentation:pd.DataFrame, categories:list[str]) -> Union[pd.Index, pd.MultiIndex]:
    """
    categories should not be in the index
    """
    return (
        segmentation
        .loc[:, list(categories)]
        .drop_duplicates()
        .set_index(categories)
        .index
    )

In [27]:
# Squish all the categorical indecies
seg_idx = get_categorical_index(segments, ["road", "cwy"])
seg_idx

MultiIndex([('H001', 'L'),
            ('H001', 'R')],
           names=['road', 'cwy'])

In [28]:
# modify the segmentation to use the squished index
segments_with_compacted_index = segments.copy()
segments_with_compacted_index = segments_with_compacted_index.drop(columns=["road","cwy"])
segments_with_compacted_index["compacted_category_index"] = seg_idx.get_indexer(segments.loc[:, ["road", "cwy"]])
segments_with_compacted_index=segments_with_compacted_index.set_index("compacted_category_index")
segments_with_compacted_index

                          slk_from  slk_to
compacted_category_index
0                                0     100
0                              100     200
0                              200     300
0                              300     400
1                                0     100

In [29]:
# modify the data to use the squished index
data_with_compacted_index = data.copy()
data_with_compacted_index = data_with_compacted_index.drop(columns=["road","cwy"])
data_with_compacted_index["compacted_category_index"] = seg_idx.get_indexer(data.loc[:, ["road", "cwy"]])
data_with_compacted_index=data_with_compacted_index.set_index("compacted_category_index")
data_with_compacted_index

                          slk_from  slk_to  measure category
compacted_category_index
0                               50     140      1.0        A
0                              140     160      2.0        B
0                              160     180      3.0        B
0                              180     220      4.0        B
0                              220     240      5.0        C
0                              240     260      5.0        C
0                              260     280      6.0        D
0                              280     300      7.0        E
0                              300     320      8.0        F
1                               10      80      9.0        G
1                               80     120     10.0        H

In [30]:
# now lets look at the matching chunk from both dataframes
D = data_with_compacted_index.loc[0,:]
S = segments_with_compacted_index.loc[0,:]
display(D)
display(S)

                          slk_from  slk_to  measure category
compacted_category_index
0                               50     140      1.0        A
0                              140     160      2.0        B
0                              160     180      3.0        B
0                              180     220      4.0        B
0                              220     240      5.0        C
0                              240     260      5.0        C
0                              260     280      6.0        D
0                              280     300      7.0        E
0                              300     320      8.0        F

                          slk_from  slk_to
compacted_category_index
0                                0     100
0                              100     200
0                              200     300
0                              300     400

In [45]:
overlap_minimum = np.maximum(
    D["slk_from"].values,
    np.expand_dims(S["slk_from"].values,1),
)
overlap_minimum

array([[ 50, 140, 160, 180, 220, 240, 260, 280, 300],
       [100, 140, 160, 180, 220, 240, 260, 280, 300],
       [200, 200, 200, 200, 220, 240, 260, 280, 300],
       [300, 300, 300, 300, 300, 300, 300, 300, 300]], dtype=int64)

In [43]:
overlap_maximum = np.minimum(
    D["slk_to"].values,
    np.expand_dims(S["slk_to"].values,1),
)
np.transpose(overlap_maximum)

array([[100, 140, 140, 140],
       [100, 160, 160, 160],
       [100, 180, 180, 180],
       [100, 200, 220, 220],
       [100, 200, 240, 240],
       [100, 200, 260, 260],
       [100, 200, 280, 280],
       [100, 200, 300, 300],
       [100, 200, 300, 320]], dtype=int64)

In [44]:
overlap = np.maximum(0, overlap_maximum - overlap_minimum)
np.transpose(overlap)
#overlap = overlap.astype("f8")
#overlap[overlap==-100]=np.nan
#overlap

array([[50, 40,  0,  0],
       [ 0, 20,  0,  0],
       [ 0, 20,  0,  0],
       [ 0, 20, 20,  0],
       [ 0,  0, 20,  0],
       [ 0,  0, 20,  0],
       [ 0,  0, 20,  0],
       [ 0,  0, 20,  0],
       [ 0,  0,  0, 20]], dtype=int64)

In [14]:

D.reset_index().join(pd.DataFrame(np.transpose(overlap), columns=pd.MultiIndex.from_arrays(S.loc[:,["slk_from",	"slk_to"]].values.transpose())))

C:\Users\e81005\Miniconda39\lib\site-packages\pandas\core\frame.py:9126: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left,2 on the right)
  return merge(

,compacted_category_index,slk_from,slk_to,measure,category,"(0, 100)","(100, 200)","(200, 300)","(300, 400)"
0,0,50,140,1.0,A,50,40,0,0
1,0,140,160,2.0,B,0,20,0,0
2,0,160,180,3.0,B,0,20,0,0
3,0,180,220,4.0,B,0,20,20,0
4,0,220,240,5.0,C,0,0,20,0
5,0,240,260,5.0,C,0,0,20,0
6,0,260,280,6.0,D,0,0,20,0
7,0,280,300,7.0,E,0,0,20,0
8,0,300,320,8.0,F,0,0,0,20

## Lets Go Big!

In [47]:
# generate segmentation
big_segments = pd.DataFrame(
    columns=["road", "cwy", "slk_from", "slk_to"],
    data   =[
        ["H001", "L",   index*10, index*10+10] for index in range(int(3000 / 0.100))
    ]
)
big_segments

       road cwy  slk_from  slk_to
0      H001   L         0      10
1      H001   L        10      20
2      H001   L        20      30
3      H001   L        30      40
4      H001   L        40      50
...     ...  ..       ...     ...
29995  H001   L    299950  299960
29996  H001   L    299960  299970
29997  H001   L    299970  299980
29998  H001   L    299980  299990
29999  H001   L    299990  300000

[30000 rows x 4 columns]

In [48]:
big_data = pd.DataFrame(
    columns= ["road", "cwy", "slk_from", "slk_to", "measure"],
    data   = [
        ["H001", "L",   (index)*1, (index+1)*1, index] for index in range(int(3000 / 0.010))
    ]
)
big_data

        road cwy  slk_from  slk_to  measure
0       H001   L         0       1        0
1       H001   L         1       2        1
2       H001   L         2       3        2
3       H001   L         3       4        3
4       H001   L         4       5        4
...      ...  ..       ...     ...      ...
299995  H001   L    299995  299996   299995
299996  H001   L    299996  299997   299996
299997  H001   L    299997  299998   299997
299998  H001   L    299998  299999   299998
299999  H001   L    299999  300000   299999

[300000 rows x 5 columns]

In [49]:
# Squish all the categorical indecies
seg_idx = get_categorical_index(big_segments, ["road", "cwy"])
print(seg_idx)

# modify the segmentation to use the squished index
segments_with_compacted_index = big_segments.copy()
segments_with_compacted_index = segments_with_compacted_index.drop(columns=["road","cwy"])
segments_with_compacted_index["compacted_category_index"] = seg_idx.get_indexer(big_segments.loc[:, ["road", "cwy"]])
segments_with_compacted_index=segments_with_compacted_index.set_index("compacted_category_index")
display(segments_with_compacted_index)

# modify the data to use the squished index
data_with_compacted_index = big_data.copy()
data_with_compacted_index = data_with_compacted_index.drop(columns=["road","cwy"])
data_with_compacted_index["compacted_category_index"] = seg_idx.get_indexer(big_data.loc[:, ["road", "cwy"]])
data_with_compacted_index=data_with_compacted_index.set_index("compacted_category_index")
display(data_with_compacted_index)

D = data_with_compacted_index.loc[0,:]
S = segments_with_compacted_index.loc[0,:]

MultiIndex([('H001', 'L')],
           names=['road', 'cwy'])

                          slk_from  slk_to
compacted_category_index
0                                0      10
0                               10      20
0                               20      30
0                               30      40
0                               40      50
...                            ...     ...
0                           299950  299960
0                           299960  299970
0                           299970  299980
0                           299980  299990
0                           299990  300000

[30000 rows x 2 columns]

                          slk_from  slk_to  measure
compacted_category_index
0                                0       1        0
0                                1       2        1
0                                2       3        2
0                                3       4        3
0                                4       5        4
...                            ...     ...      ...
0                           299995  299996   299995
0                           299996  299997   299996
0                           299997  299998   299997
0                           299998  299999   299998
0                           299999  300000   299999

[300000 rows x 3 columns]

In [98]:
def overlap(segmentation,data,offset,chunk_size=1000, proximity_threshold=0):
    overlap_minimum = np.maximum(
        segmentation["slk_from"].values[offset:offset+chunk_size],
        np.expand_dims(data["slk_from"].values,1),
    )
    overlap_maximum = np.minimum(
        segmentation["slk_to"].values[offset:offset+chunk_size],
        np.expand_dims(data["slk_to"].values,1),
    )
    return np.maximum(overlap_maximum - overlap_minimum - proximity_threshold, 0)

In [99]:
print(f"processing {len(D):,.0f} datapoints onto {len(S):,.0f} segments is")
print(f"equivalent to checking every pixle in 4k video at 24fps for {len(D)*len(S)*8 / ((1920*4)*(1080*4)*3)/24/60:.1f} minutes")
print(f"We expect it to take at about that long.")

processing 300,000 datapoints onto 30,000 segments is
equivalent to checking every pixle in 4k video at 24fps for 0.5 minutes
We expect it to take at about that long.

In [108]:
chunk_size = 200
num_chunks = int(len(S) / chunk_size)
print("."*num_chunks)
print("")
import time
start_time = time.perf_counter_ns()
last_backspace=0
for i in range(num_chunks):
    overlap(
        segmentation        = S,
        data                = D,
        offset              = i*chunk_size,
        chunk_size          = chunk_size,
        proximity_threshold = 0
    )
    cur_time = time.perf_counter_ns();
    elapsed = (cur_time-start_time)/1e9
    #print("\b" * last_backspace,end="\r")
    #to_print = f"remaining: {(num_chunks-i)*(elapsed/(i+1)):.0f} seconds      "
    last_backspace = len(to_print)
    print(f"elapsed: {elapsed:.0f} remaining: {(num_chunks-i)*(elapsed/(i+1)):.0f} seconds     ",end="\r")
print(f" " * last_backspace, end="\r")
end_time = time.perf_counter_ns();
print(f"elapsed {(end_time-start_time)/1e9:.0f} seconds")

......................................................................................................................................................

elapsed 110 seconds       seconds

In [141]:
def overlap(segmentation,data,offset,chunk_size=1000, proximity_threshold=0):
    overlap_minimum = np.maximum(
        segmentation["slk_from"].values[offset:offset+chunk_size],
        np.expand_dims(data["slk_from"].values,1),
    )
    overlap_maximum = np.minimum(
        segmentation["slk_to"].values[offset:offset+chunk_size],
        np.expand_dims(data["slk_to"].values,1),
    )
    return np.maximum(overlap_maximum - overlap_minimum - proximity_threshold, 0)

def merg (segmentation, data, chunk_size, proximity_threshold):
    num_chunks = int(len(segmentation) / chunk_size);
    for offset in range(0, len(segmentation), chunk_size):
        ovlp = overlap(
            segmentation        = segmentation,
            data                = data,
            offset              = offset,
            chunk_size          = chunk_size,
            proximity_threshold = proximity_threshold
        )
        yield (
            offset,
            [
                np.array(
                    [
                        (ind := np.nonzero(item)[0]) + offset,
                        np.take(item, ind) + proximity_threshold
                    ]
                )
                for item in np.transpose(ovlp)
            ]
        )

In [142]:
for offset, chunk in merg(S.iloc[:100], D.iloc[:1000], chunk_size=300, proximity_threshold=0):
    print(chunk)

[array([[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]], dtype=int64), array([[10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1]], dtype=int64), array([[20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1]], dtype=int64), array([[30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1]], dtype=int64), array([[40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1]], dtype=int64), array([[50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1]], dtype=int64), array([[60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1]], dtype=int64), array([[70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1]], dtype=int64), array([[80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1]], dtype=int64), array([[90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
       [ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1]], dtype=int64), array([[100, 101, 102, 103, 104, 105, 106, 107, 108, 109],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[110, 111, 112, 113, 114, 115, 116, 117, 118, 119],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[120, 121, 122, 123, 124, 125, 126, 127, 128, 129],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[130, 131, 132, 133, 134, 135, 136, 137, 138, 139],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[150, 151, 152, 153, 154, 155, 156, 157, 158, 159],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[160, 161, 162, 163, 164, 165, 166, 167, 168, 169],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[170, 171, 172, 173, 174, 175, 176, 177, 178, 179],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[180, 181, 182, 183, 184, 185, 186, 187, 188, 189],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[190, 191, 192, 193, 194, 195, 196, 197, 198, 199],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[200, 201, 202, 203, 204, 205, 206, 207, 208, 209],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[210, 211, 212, 213, 214, 215, 216, 217, 218, 219],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[220, 221, 222, 223, 224, 225, 226, 227, 228, 229],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[230, 231, 232, 233, 234, 235, 236, 237, 238, 239],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[240, 241, 242, 243, 244, 245, 246, 247, 248, 249],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[250, 251, 252, 253, 254, 255, 256, 257, 258, 259],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[260, 261, 262, 263, 264, 265, 266, 267, 268, 269],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[270, 271, 272, 273, 274, 275, 276, 277, 278, 279],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[280, 281, 282, 283, 284, 285, 286, 287, 288, 289],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[290, 291, 292, 293, 294, 295, 296, 297, 298, 299],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[300, 301, 302, 303, 304, 305, 306, 307, 308, 309],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[310, 311, 312, 313, 314, 315, 316, 317, 318, 319],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[320, 321, 322, 323, 324, 325, 326, 327, 328, 329],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[330, 331, 332, 333, 334, 335, 336, 337, 338, 339],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[340, 341, 342, 343, 344, 345, 346, 347, 348, 349],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[350, 351, 352, 353, 354, 355, 356, 357, 358, 359],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[360, 361, 362, 363, 364, 365, 366, 367, 368, 369],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[370, 371, 372, 373, 374, 375, 376, 377, 378, 379],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[380, 381, 382, 383, 384, 385, 386, 387, 388, 389],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[390, 391, 392, 393, 394, 395, 396, 397, 398, 399],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[400, 401, 402, 403, 404, 405, 406, 407, 408, 409],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[410, 411, 412, 413, 414, 415, 416, 417, 418, 419],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[420, 421, 422, 423, 424, 425, 426, 427, 428, 429],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[430, 431, 432, 433, 434, 435, 436, 437, 438, 439],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[440, 441, 442, 443, 444, 445, 446, 447, 448, 449],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[450, 451, 452, 453, 454, 455, 456, 457, 458, 459],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[460, 461, 462, 463, 464, 465, 466, 467, 468, 469],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[470, 471, 472, 473, 474, 475, 476, 477, 478, 479],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[480, 481, 482, 483, 484, 485, 486, 487, 488, 489],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[490, 491, 492, 493, 494, 495, 496, 497, 498, 499],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[500, 501, 502, 503, 504, 505, 506, 507, 508, 509],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[510, 511, 512, 513, 514, 515, 516, 517, 518, 519],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[520, 521, 522, 523, 524, 525, 526, 527, 528, 529],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[530, 531, 532, 533, 534, 535, 536, 537, 538, 539],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[540, 541, 542, 543, 544, 545, 546, 547, 548, 549],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[550, 551, 552, 553, 554, 555, 556, 557, 558, 559],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[560, 561, 562, 563, 564, 565, 566, 567, 568, 569],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[570, 571, 572, 573, 574, 575, 576, 577, 578, 579],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[580, 581, 582, 583, 584, 585, 586, 587, 588, 589],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[590, 591, 592, 593, 594, 595, 596, 597, 598, 599],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[600, 601, 602, 603, 604, 605, 606, 607, 608, 609],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[610, 611, 612, 613, 614, 615, 616, 617, 618, 619],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[620, 621, 622, 623, 624, 625, 626, 627, 628, 629],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[630, 631, 632, 633, 634, 635, 636, 637, 638, 639],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[640, 641, 642, 643, 644, 645, 646, 647, 648, 649],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[650, 651, 652, 653, 654, 655, 656, 657, 658, 659],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[660, 661, 662, 663, 664, 665, 666, 667, 668, 669],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[670, 671, 672, 673, 674, 675, 676, 677, 678, 679],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[680, 681, 682, 683, 684, 685, 686, 687, 688, 689],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[690, 691, 692, 693, 694, 695, 696, 697, 698, 699],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[700, 701, 702, 703, 704, 705, 706, 707, 708, 709],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[710, 711, 712, 713, 714, 715, 716, 717, 718, 719],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[720, 721, 722, 723, 724, 725, 726, 727, 728, 729],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[730, 731, 732, 733, 734, 735, 736, 737, 738, 739],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[740, 741, 742, 743, 744, 745, 746, 747, 748, 749],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[750, 751, 752, 753, 754, 755, 756, 757, 758, 759],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[760, 761, 762, 763, 764, 765, 766, 767, 768, 769],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[770, 771, 772, 773, 774, 775, 776, 777, 778, 779],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[780, 781, 782, 783, 784, 785, 786, 787, 788, 789],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[790, 791, 792, 793, 794, 795, 796, 797, 798, 799],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[800, 801, 802, 803, 804, 805, 806, 807, 808, 809],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[810, 811, 812, 813, 814, 815, 816, 817, 818, 819],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[820, 821, 822, 823, 824, 825, 826, 827, 828, 829],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[830, 831, 832, 833, 834, 835, 836, 837, 838, 839],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[840, 841, 842, 843, 844, 845, 846, 847, 848, 849],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[850, 851, 852, 853, 854, 855, 856, 857, 858, 859],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[860, 861, 862, 863, 864, 865, 866, 867, 868, 869],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[870, 871, 872, 873, 874, 875, 876, 877, 878, 879],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[880, 881, 882, 883, 884, 885, 886, 887, 888, 889],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[890, 891, 892, 893, 894, 895, 896, 897, 898, 899],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[900, 901, 902, 903, 904, 905, 906, 907, 908, 909],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[910, 911, 912, 913, 914, 915, 916, 917, 918, 919],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[920, 921, 922, 923, 924, 925, 926, 927, 928, 929],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[930, 931, 932, 933, 934, 935, 936, 937, 938, 939],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[940, 941, 942, 943, 944, 945, 946, 947, 948, 949],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[950, 951, 952, 953, 954, 955, 956, 957, 958, 959],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[960, 961, 962, 963, 964, 965, 966, 967, 968, 969],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[970, 971, 972, 973, 974, 975, 976, 977, 978, 979],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[980, 981, 982, 983, 984, 985, 986, 987, 988, 989],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64), array([[990, 991, 992, 993, 994, 995, 996, 997, 998, 999],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1,   1]], dtype=int64)]

In [127]:
len(S["slk_from"].values[10:10+10])

10